* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  position: relative;
}

.container {
  max-width: 1352px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 16px;
}
@media screen and (max-width: 1440px) {
  .container {
    max-width: 1140px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    padding-inline: 8px;
  }
}

.primary-color {
  color: hsl(54, 95%, 53%);
}

.page-wrapper,
.main-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 240px;
}
@media screen and (max-width: 1440px) {
  .page-wrapper,
  .main-wrapper {
    gap: 160px;
  }
}
@media screen and (max-width: 1024px) {
  .page-wrapper,
  .main-wrapper {
    gap: 96px;
  }
}
@media screen and (max-width: 768px) {
  .page-wrapper,
  .main-wrapper {
    gap: 80px;
  }
}

h2 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 500;
  color: #4E4E4E;
  text-align: center;
}
@media screen and (max-width: 1440px) {
  h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 32px;
  }
}

.input {
  padding: 16px;
  border: 1px solid #CFCFCF;
  background-color: transparent;
  font-size: 20px;
  font-weight: 500;
}

[type=radio]:checked, [type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type=radio]:checked + label, [type=radio]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type=radio]:checked + label:before, [type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid hsl(0, 0%, 81%);
  border-radius: 100%;
  background: transparent;
}
[type=radio]:checked + label:after, [type=radio]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #777777;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type=radio]:checked + label:before {
  border: 1px solid #777777;
}
[type=radio]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type=radio]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.navbar {
  background-color: rgba(35, 35, 34, 0.9);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.navbar .active {
  display: block !important;
}
.navbar-up__wrapper {
  width: 100%;
  padding: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.navbar-up__logo {
  height: 45px;
}
.navbar-second {
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
}
@media screen and (max-width: 1024px) {
  .navbar-second {
    display: none;
  }
}
.navbar-second__wrapper {
  width: 100%;
  padding: 8px;
}
.navbar-second__lists {
  list-style-type: none;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}
.navbar-second__lists__list__link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.navbar__menu {
  display: none;
  position: absolute;
  right: 16px;
}
.navbar__menu__list {
  display: none;
  background: #232322;
  opacity: 0.9;
  position: fixed;
  right: 0;
  height: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 480px) {
  .navbar__menu__list {
    width: 100%;
  }
}
.navbar__menu__list ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px 52px 0;
  list-style-type: none;
}
@media screen and (max-width: 480px) {
  .navbar__menu__list ul {
    align-items: center;
  }
}
.navbar__menu__list ul li a {
  padding: 16px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
}
.navbar__menu__burger {
  display: none;
  transition: all 0.2s ease-in-out;
}
.navbar__menu__cross {
  width: 36px;
  height: 36px;
  display: none;
  transition: all 0.2s ease-in-out;
}
.navbar__menu .ci-primary {
  fill: hsl(54, 95%, 53%);
}
@media screen and (max-width: 1024px) {
  .navbar__menu {
    display: block;
  }
}

.header {
  background: linear-gradient(180deg, rgba(30, 30, 30, 0.75) 0%, rgba(15, 14, 12, 0.25) 62.81%, rgba(30, 30, 30, 0.5) 100%), url("../img/HeaderImage.webp");
  width: 100%;
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .header {
    height: 700px;
  }
}
.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 24px;
  justify-content: center;
}
.header-content h1 {
  font-size: 104px;
  text-transform: uppercase;
  color: white;
  font-weight: 800;
  text-align: center;
  max-width: 1290px;
}
.header-content h1 span {
  font-size: 116px;
}
@media screen and (max-width: 1024px) {
  .header-content h1 span {
    font-size: 76px;
    line-height: 120%;
    max-width: 900px;
  }
}
@media screen and (max-width: 480px) {
  .header-content h1 span {
    font-size: 56px;
  }
}
@media screen and (max-width: 1024px) {
  .header-content h1 {
    font-size: 64px;
    line-height: 120%;
    max-width: 900px;
  }
}
@media screen and (max-width: 480px) {
  .header-content h1 {
    font-size: 48px;
  }
}
.header-content p {
  color: white;
  font-size: 20px;
  max-width: 700px;
  text-align: center;
  line-height: 30px;
}

.calculator .badge {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #4E4E4E;
  padding: 8px;
  background-color: #F9E214;
}
.calculator__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
@media screen and (max-width: 1440px) {
  .calculator__wrapper {
    gap: 56px;
  }
}
.calculator__title h2 {
  line-height: 56px;
}
.calculator__content {
  padding: 40px;
  background: linear-gradient(180deg, #F8F8F8 0%, #F2F2F2 100%);
  border: 1px solid #DCDCDC;
  backdrop-filter: blur(50px);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.calculator__content__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
}
@media screen and (max-width: 1024px) {
  .calculator__content__wrapper {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.calculator__content__checkbox__group {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}
.calculator__content__checkbox__group-wrapper {
  display: flex;
  gap: 32px;
  flex-direction: column;
}
.calculator__content__checkbox__group__main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.calculator__content__checkbox__group__main__item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.calculator__content__value-circle {
  width: 380px;
  height: 380px;
  border: 4px solid #F9E214;
  border-radius: 50%;
  aspect-ratio: 1/1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .calculator__content__value-circle {
    margin: 0 auto;
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 480px) {
  .calculator__content__value-circle {
    width: 240px;
    height: 240px;
  }
}
.calculator__content__value-circle__wrapper {
  width: 100%;
  height: 100%;
  border: 2px solid #F9E214;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator__content__value-circle__number {
  font-size: 64px;
  font-weight: 500;
  color: #4E4E4E;
}
@media screen and (max-width: 768px) {
  .calculator__content__value-circle__number {
    font-size: 32px;
  }
}
.calculator__content__input__group {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  width: 100%;
}
.calculator__content__input__group-wrapper {
  display: flex;
  gap: 32px;
  flex-direction: row;
}
@media screen and (max-width: 1440px) {
  .calculator__content__input__group-wrapper {
    flex-direction: column;
  }
}
.calculator__content__input__group__main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.calculator__content__input__group__main__item {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}
.calculator__content__input__group__main__item .input {
  width: 100%;
  outline: 0;
}
.calculator__content__input__group input[type=number] {
  color: #595959;
}
.calculator__content__input__group p {
  margin-top: -16px;
  font-size: 13px;
  color: hsl(0, 0%, 50%);
}
.calculator__content__buttons {
  display: flex;
  flex-direction: row;
  gap: 32px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .calculator__content__buttons {
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) {
  .calculator__content__buttons .btn {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .calculator__content__buttons .btn {
    width: auto;
  }
}
.calculator__content__inputs {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 696px;
}
.calculator__content__footer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.calculator__content__footer p {
  color: hsl(0, 0%, 50%);
}
.calculator__content__column {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.btn {
  display: flex;
  flex-direction: row;
  gap: 8px;
  color: inherit;
  background-color: transparent;
  padding: 18px 24px;
  text-decoration: none;
  align-items: center;
  border: none;
  justify-content: center;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.btn__primary {
  background-color: hsl(54, 95%, 53%);
  color: #4E4E4E;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
.btn__primary:hover {
  background-color: hsl(54, 95%, 47%);
}
.btn__secondary {
  background-color: #ffffff;
  color: #4E4E4E;
  border: 4px solid hsl(54, 95%, 53%);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  box-sizing: content-box;
}
.btn__secondary:hover {
  background-color: hsl(54, 95%, 53%);
}

.features__wrapper {
  display: flex;
  gap: 80px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 1440px) {
  .features__wrapper {
    gap: 56px;
  }
}
.features__body {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .features__body {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .features__body {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
.features__card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 16px;
  padding: 32px;
  width: 100%;
  background: linear-gradient(180deg, #F7F7F7 0%, #F1F1F1 100%);
}
.features__card__icon {
  width: 80px;
  height: 80px;
}
.features__card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}
.features__card__content h3 {
  color: #4e4e4e;
  text-transform: uppercase;
}
.features__card__content p {
  color: #777777;
  line-height: 24px;
}
@media screen and (max-width: 1024px) {
  .features__card:last-child {
    grid-column: 1/3;
  }
}

.diens {
  padding: 80px 0;
  background: linear-gradient(0deg, rgba(22, 22, 22, 0.5), rgba(22, 22, 22, 0.5)), url("../img/diens.webp");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1440px) {
  .diens {
    padding: 56px 0;
  }
}
.diens__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 120px;
}
@media screen and (max-width: 1440px) {
  .diens__wrapper {
    gap: 80px;
  }
}
.diens__group {
  display: flex;
  gap: 80px;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
@media screen and (max-width: 1440px) {
  .diens__group {
    gap: 40px;
  }
}
.diens__footer {
  display: grid;
  align-items: center;
  gap: 24px;
  color: white;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .diens__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    gap: 32px;
  }
}
.diens__footer h3 {
  max-width: 536px;
  width: 100%;
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  text-transform: uppercase;
}
@media screen and (max-width: 1440px) {
  .diens__footer h3 {
    max-width: 375px;
    font-size: 24px;
  }
}
.diens__footer p {
  max-width: 608px;
  width: 100%;
  font-size: 20px;
  line-height: 150%;
}
.diens__text-content {
  display: grid;
  align-items: center;
  gap: 24px;
  color: white;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 1024px) {
  .diens__text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    gap: 32px;
  }
}
.diens__text-content h3 {
  width: 100%;
  max-width: 445px;
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
}
@media screen and (max-width: 1440px) {
  .diens__text-content h3 {
    max-width: 333px;
    font-size: 24px;
  }
}
.diens__text-content p {
  max-width: 648px;
  width: 100%;
  font-size: 20px;
  line-height: 40px;
}
@media screen and (max-width: 1440px) {
  .diens__text-content p {
    line-height: 150%;
  }
}
.diens__lists {
  display: flex;
  flex-direction: column;
  gap: 0;
  list-style-type: none;
  width: 100%;
}
.diens__lists__list {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 24px;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  border-top: 2px solid hsl(54, 95%, 53%);
  border-bottom: 2px solid hsl(54, 95%, 53%);
  color: white;
  transition: all 0.35s ease-in-out;
  text-align: center;
}
@media screen and (max-width: 1440px) {
  .diens__lists__list {
    font-size: 24px;
    line-height: 28px;
  }
}
.diens__lists__list:not(:first-child) {
  margin-top: -2px;
}
.diens__lists__list:hover {
  background-color: hsl(54, 95%, 53%);
  color: #4E4E4E;
}

.arbeit__wrapper {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 100%;
  align-items: center;
}
@media screen and (max-width: 1440px) {
  .arbeit__wrapper {
    gap: 56px;
  }
}
.arbeit__cards {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .arbeit__cards {
    gap: 16px;
  }
}
.arbeit__cards__group1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
}
@media screen and (max-width: 1024px) {
  .arbeit__cards__group1 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .arbeit__cards__group1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
.arbeit__cards__group2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 768px) {
  .arbeit__cards__group2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
.arbeit__card {
  padding: 40px;
  border: 2px solid #F2F2F2;
  gap: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  transition: all 0.25s ease-in-out;
  background-image: none;
}
.arbeit__card:hover {
  background-image: var(--bg-arbeit-image);
}
.arbeit__card:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #161616;
  opacity: 0.6;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .arbeit__card:nth-child(3) {
    grid-column: 1/3;
  }
}
.arbeit__card:hover h3,
.arbeit__card:hover p {
  color: #FFFFFF;
}
.arbeit__card h3 {
  font-size: 32px;
  font-weight: 500;
  color: #4E4E4E;
  line-height: 38px;
}
@media screen and (max-width: 1440px) {
  .arbeit__card h3 {
    font-size: 24px;
    line-height: 28px;
  }
}
.arbeit__card p {
  font-size: 20px;
  line-height: 150%;
  color: #777777;
}
@media screen and (max-width: 1440px) {
  .arbeit__card p {
    font-size: 18px;
    line-height: 150%;
  }
}
.arbeit__card__mark {
  font-size: 80px;
  color: hsl(54, 95%, 53%);
  font-weight: 500;
}
@media screen and (max-width: 1440px) {
  .arbeit__card__mark {
    font-size: 64px;
    line-height: 75px;
  }
}

.about {
  background: linear-gradient(0deg, rgba(22, 22, 22, 0.5), rgba(22, 22, 22, 0.5)), url("../img/About.webp");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}
@media screen and (max-width: 1440px) {
  .about {
    padding: 56px 0;
  }
}
.about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__content {
  border: 8px solid hsl(54, 95%, 53%);
  width: 100%;
  max-width: 920px;
}
.about__content h2 {
  padding: 40px;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}
@media screen and (max-width: 1440px) {
  .about__content h2 {
    padding: 24px 0 40px;
  }
}
.about__content h3 {
  padding: 24px;
  background-color: hsl(54, 95%, 53%);
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
  color: #4e4e4e;
}
@media screen and (max-width: 1440px) {
  .about__content h3 {
    padding: 16px;
    font-size: 24px;
  }
}
.about__content__text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  align-items: center;
}
@media screen and (max-width: 1440px) {
  .about__content__text {
    gap: 24px;
  }
}
.about__content__text p {
  max-width: 626px;
  width: 100%;
  font-size: 20px;
  line-height: 150%;
  color: #4E4E4E;
}
@media screen and (max-width: 1440px) {
  .about__content__text p {
    font-size: 18px;
    line-height: 150%;
  }
}
@media screen and (max-width: 1024px) {
  .about__content__text p {
    font-size: 16px;
    line-height: 24px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  width: 100%;
}
.footer-up {
  background-color: hsl(54, 95%, 53%);
  width: 100%;
}
.footer-up__wrapper {
  padding: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-up__logo {
  height: 45px;
}
.footer-body {
  background: linear-gradient(180deg, #F8F8F8 0%, #F2F2F2 100%);
  padding: 80px 0;
  width: 100%;
}
@media screen and (max-width: 1440px) {
  .footer-body {
    padding: 56px 0;
  }
}
.footer-body__wrapper {
  display: flex;
  gap: 200px;
}
@media screen and (max-width: 1024px) {
  .footer-body__wrapper {
    gap: 140px;
  }
}
@media screen and (max-width: 850px) {
  .footer-body__wrapper {
    flex-direction: column;
    gap: 72px;
  }
}
@media screen and (max-width: 768px) {
  .footer-body__wrapper {
    gap: 32px;
  }
}
.footer-body__col {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .footer-body__col {
    gap: 32px;
  }
}
.footer-body__col-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-body__col-group h4 {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #777777;
}
.footer-body__col-group a {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #4E4E4E;
}
.footer-body__col__lists {
  display: flex;
  flex-direction: row;
  gap: 16px;
  list-style-type: none;
}
.footer-body__col__lists__list {
  width: 72px;
  height: 72px;
}
@media screen and (max-width: 480px) {
  .footer-body__col__lists__list {
    width: 56px;
    height: 56px;
  }
  .footer-body__col__lists__list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
}
.accordion .visible {
  display: block !important;
}
.accordion .active {
  transform: rotate(45deg);
}
.accordion__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  border-bottom: 2px solid hsl(54, 95%, 53%);
  padding: 24px 0;
  transition: all 0.35s ease-in-out;
}
.accordion__item:first-child {
  border-top: 2px solid hsl(54, 95%, 53%);
}
.accordion__item:not(:first-child) {
  margin-top: -2px;
}
.accordion__item__header {
  display: flex;
  gap: 48px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  position: relative;
}
.accordion__item__header h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  color: #777777;
}
@media screen and (max-width: 1440px) {
  .accordion__item__header h3 {
    font-size: 24px;
    line-height: 28px;
  }
}
@media screen and (max-width: 480px) {
  .accordion__item__header h3 {
    font-size: 18px;
    line-height: 24px;
  }
}
.accordion__item__body {
  width: 100%;
  display: none;
  transition: display 0.2s ease-in-out;
}
.accordion__item__body__wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.accordion__item__body h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #777777;
}
.accordion__item__body p {
  color: #777777;
  font-size: 20px;
  line-height: 150%;
  max-width: 942px;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .accordion__item__body h4,
  .accordion__item__body p {
    font-size: 16px;
  }
}
.accordion__item__body ul,
.accordion__item__body ol {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style-position: inside;
}
@media screen and (max-width: 480px) {
  .accordion__item__body ul,
  .accordion__item__body ol {
    gap: 16px;
  }
}
.accordion__item__body ul li,
.accordion__item__body ol li {
  color: #777777;
  font-size: 20px;
  line-height: 150%;
  max-width: 732px;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .accordion__item__body ul li,
  .accordion__item__body ol li {
    font-size: 16px;
  }
}
.accordion__item__button {
  width: 32px;
  height: 32px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.accordion__item__button svg {
  width: 32px;
  height: 32px;
  transform: rotate(45deg);
}
.accordion__item__button svg .ci-primary {
  fill: #777777;
}

.faq {
  width: 100%;
}
.faq__wrapper {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
}
@media screen and (max-width: 1440px) {
  .faq__wrapper {
    gap: 56px;
  }
}
.faq__content {
  width: 100%;
}

.schreiben {
  width: 100%;
  background-image: url("../img/form.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.schreiben::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(22, 22, 22, 0.5), rgba(22, 22, 22, 0.5));
}
.schreiben__wrapper {
  padding: 40px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .schreiben__wrapper {
    padding: 15px;
  }
}
.schreiben .form {
  display: flex;
  z-index: 1;
  flex-direction: column;
  gap: 32px;
  padding: 40px 88px;
  background-color: #FFFFFF;
  border: 4px solid #F9E214;
  box-shadow: 8px 8px 24px rgba(116, 116, 116, 0.3);
}
@media screen and (max-width: 768px) {
  .schreiben .form {
    padding: 40px;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .schreiben .form {
    padding: 16px;
  }
}
.schreiben .form__fields {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.schreiben .form__fields input,
.schreiben .form__fields textarea {
  outline: none;
  border: none;
  background-color: #F6F6F6;
  padding: 16px;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}
@media screen and (max-width: 1440px) {
  .schreiben .form__fields input,
  .schreiben .form__fields textarea {
    font-size: 18px;
    line-height: 21px;
  }
}
.schreiben .form__fields input::placeholder,
.schreiben .form__fields textarea::placeholder {
  font-size: 20px;
  line-height: 23px;
  color: #777777;
}
@media screen and (max-width: 1440px) {
  .schreiben .form__fields input::placeholder,
  .schreiben .form__fields textarea::placeholder {
    font-size: 18px;
    line-height: 21px;
  }
}
.schreiben .form__fields input:focus::placeholder,
.schreiben .form__fields textarea:focus::placeholder {
  color: transparent;
}
.schreiben .form__fields textarea {
  height: 200px;
  resize: none;
}
@media screen and (max-width: 768px) {
  .schreiben .form__fields textarea {
    height: 160px;
  }
}
.schreiben .form input[type=submit] {
  padding: 16px 24px;
  background-color: #F9E214;
  border: 0;
  box-shadow: 6px 6px 6px rgba(35, 35, 35, 0.04);
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #4E4E4E;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-appearance: none;
}
.schreiben .form input[type=submit]:disabled {
  background-color: hsl(54, 95%, 70%);
}
.schreiben .form input::-webkit-contacts-auto-fill-button {
  opacity: 0;
  visibility: hidden;
}

.unsere {
  width: 100%;
}
.unsere__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.unsere__head {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
}
.unsere__head h2 {
  text-transform: uppercase;
}
.unsere__head .swiper {
  height: 100%;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 650px) {
  .unsere__head .swiper-wrapper {
    height: 300px !important;
  }
}
.unsere__head .swiper-pagination {
  position: absolute;
  width: 100%;
  bottom: 20px;
  display: none;
}
@media screen and (max-width: 1240px) {
  .unsere__head .swiper-pagination {
    display: block;
  }
}
.unsere__head .swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
}
.unsere__head .swiper-pagination-bullet-active {
  background-color: #FFFFFF;
}
.unsere__head .swiper-button-prev-md, .unsere__head .swiper-button-next-md {
  display: none;
  z-index: 2;
}
.unsere__head .swiper-button-prev-md svg, .unsere__head .swiper-button-next-md svg {
  width: 48px;
  height: 48px;
}
.unsere__head .swiper-button-prev-md svg path, .unsere__head .swiper-button-next-md svg path {
  fill: #FFFFFF;
}
@media screen and (max-width: 1240px) {
  .unsere__head .swiper-button-prev-md, .unsere__head .swiper-button-next-md {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 48px;
    height: 48px;
  }
}
.unsere__head .swiper-button-prev-md {
  left: 16px;
}
.unsere__head .swiper-button-next-md {
  right: 16px;
}
.unsere__head .swiper-slide {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}
@media screen and (max-width: 650px) {
  .unsere__head .swiper-slide {
    height: 300px !important;
  }
}
.unsere__head .swiper-slide-active, .unsere__head .swiper-slide-next {
  opacity: 1;
}
@media screen and (max-width: 1440px) {
  .unsere__head .swiper-slide {
    height: 480px;
  }
}
.unsere__head .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.unsere__footer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 90px;
  align-items: center;
}
@media screen and (max-width: 1440px) {
  .unsere__footer {
    gap: 55px;
  }
}
.unsere__footer a {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #4E4E4E;
  padding: 16px 24px;
  display: block;
  background-color: #F9E214;
  text-decoration: none;
}
.unsere__footer__controls {
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
}
@media screen and (max-width: 1240px) {
  .unsere__footer__controls {
    display: none;
  }
}
.unsere__footer__controls .swiper-scrollbar {
  width: 784px !important;
  position: static !important;
}
@media screen and (max-width: 1440px) {
  .unsere__footer__controls .swiper-scrollbar {
    width: 655px !important;
  }
}
.unsere__footer__controls__buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}
.unsere__footer__controls__buttons .swiper-button-prev,
.unsere__footer__controls__buttons .swiper-button-next {
  position: static;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  user-select: none;
}
.unsere__footer__controls__buttons .swiper-button-prev svg,
.unsere__footer__controls__buttons .swiper-button-next svg {
  width: 24px;
  height: 24px;
}
.unsere__footer__controls__buttons .swiper-button-prev::after,
.unsere__footer__controls__buttons .swiper-button-next::after {
  content: "";
}

.uber__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
.uber__wrapper h2 {
  align-self: center;
}
@media screen and (max-width: 1440px) {
  .uber__wrapper {
    gap: 56px;
  }
}
@media screen and (max-width: 1024px) {
  .uber__wrapper {
    align-items: flex-start;
  }
}
.uber__content {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 160px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .uber__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
  }
}
.uber__content::after {
  content: "";
  height: 100%;
  position: absolute;
  left: 50%;
  width: 2px;
  background-color: #F9E214;
}
@media screen and (max-width: 1024px) {
  .uber__content::after {
    display: none;
  }
}
.uber__content__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 1440px) {
  .uber__content__item {
    gap: 80px;
  }
}
@media screen and (max-width: 1024px) {
  .uber__content__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
}
.uber__content__item__side {
  display: flex;
  align-items: center;
  gap: 32px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .uber__content__item__side {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}
.uber__content__item__side h3 {
  font-weight: 500;
  max-width: 338px;
  width: 100%;
  font-size: 32px;
  line-height: 38px;
  color: #4E4E4E;
  text-transform: uppercase;
  padding: 16px 0;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 1440px) {
  .uber__content__item__side h3 {
    font-size: 24px;
    line-height: 28px;
  }
}
.uber__content__item__side h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #F9E214;
  width: 100%;
}
.uber__content__item p {
  max-width: 650px;
  width: 100%;
  font-size: 20px;
  line-height: 40px;
  color: #4E4E4E;
}
@media screen and (max-width: 1440px) {
  .uber__content__item p {
    font-size: 18px;
    line-height: 150%;
  }
}

.kunden {
  background: linear-gradient(180deg, #F8F8F8 0%, #F2F2F2 100%);
  backdrop-filter: blur(50px);
  width: 100%;
  padding: 80px 0;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .kunden {
    background: #FFFFFF;
  }
}
@media screen and (max-width: 768px) {
  .kunden .container {
    max-width: 100%;
    padding-inline: 0;
  }
}
@media screen and (max-width: 1440px) {
  .kunden {
    padding: 56px 0;
  }
}
.kunden__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 180px;
  position: relative;
}
@media screen and (max-width: 1440px) {
  .kunden__wrapper {
    gap: 140px;
  }
}
@media screen and (max-width: 768px) {
  .kunden__wrapper {
    gap: 64px;
  }
}
.kunden__wrapper .backticks {
  position: absolute;
  left: 0;
  top: 24px;
  object-fit: cover;
  object-position: center;
}
@media screen and (max-width: 1440px) {
  .kunden__wrapper .backticks {
    top: 0;
  }
}
@media screen and (max-width: 768px) {
  .kunden__wrapper .backticks {
    display: none;
  }
}
.kunden__swiper {
  width: 100%;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .kunden__swiper {
    border-top: 4px solid #F9E214;
    border-bottom: 2px solid #F9E214;
    border-left: 0;
    border-right: 0;
    background: linear-gradient(180deg, #F8F8F8 0%, #F2F2F2 100%);
    padding-bottom: 64px;
  }
  .kunden__swiper::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    bottom: 8px;
    border-top: 2px solid #F9E214;
    border-bottom: 4px solid #F9E214;
    border-left: 0;
    border-right: 0;
    width: 100%;
    height: 100%;
  }
}
.kunden__swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
@media screen and (max-width: 768px) {
  .kunden__swiper .swiper-slide {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.kunden__swiper .swiper-slide-active {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .kunden__swiper .swiper-slide-active {
    margin: 0 !important;
    padding: 0 !important;
  }
}
.kunden__swiper .swiper-slide-next {
  opacity: 1;
}
@media screen and (max-width: 1440px) {
  .kunden__swiper .swiper-slide-next {
    opacity: 0.3;
  }
}
.kunden__swiper .swiper-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #F9E214;
  position: absolute;
  top: 132px;
  right: 0;
  z-index: 1;
}
@media screen and (max-width: 1440px) {
  .kunden__swiper .swiper-controls {
    top: 70px;
  }
}
@media screen and (max-width: 768px) {
  .kunden__swiper .swiper-controls {
    top: inherit;
    bottom: 16px;
    right: 16px;
    width: 56px;
    height: 56px;
  }
}
.kunden__swiper .swiper-controls .swiper-button-prev,
.kunden__swiper .swiper-controls .swiper-button-next {
  position: static !important;
  margin: 0 !important;
  padding: 0 !important;
  user-select: none;
  width: 24px;
  height: 24px;
}
.kunden__swiper .swiper-controls .swiper-button-prev::after,
.kunden__swiper .swiper-controls .swiper-button-next::after {
  content: "";
}
@media screen and (max-width: 768px) {
  .kunden__swiper .swiper-controls .swiper-button-prev {
    display: none;
  }
}
.kunden__review {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #F9E214;
  padding: 10px;
  width: 100%;
  max-width: 648px;
  height: 100%;
  background-color: #FFFFFF;
  z-index: 1;
  aspect-ratio: 1/1;
}
@media screen and (max-width: 768px) {
  .kunden__review {
    aspect-ratio: initial;
    border-radius: 0;
    border: 0;
    padding: 10px 0;
    background: transparent;
  }
}
.kunden__review__circle {
  border: 2px solid #F9E214;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 100px 80px 0 100px;
}
@media screen and (max-width: 900px) {
  .kunden__review__circle {
    padding: 70px 80px 0 100px;
  }
}
@media screen and (max-width: 768px) {
  .kunden__review__circle {
    border-radius: 0;
    border: 0;
    padding: 40px 16px;
  }
}
.kunden__review__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.kunden__review__wrapper p {
  font-size: 16px;
  line-height: 150%;
  color: #777777;
  width: 100%;
  padding-left: 92px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 13;
  overflow: hidden;
}
@media screen and (max-width: 1440px) {
  .kunden__review__wrapper p {
    font-size: 14px;
    line-height: 21px;
  }
}
@media screen and (max-width: 1024px) {
  .kunden__review__wrapper p {
    padding-left: 0;
    -webkit-line-clamp: 11;
  }
}
.kunden__review__content {
  display: flex;
  align-items: center;
  gap: 24px;
}
.kunden__review__content img {
  width: 72px;
  height: 72px;
}
@media screen and (max-width: 900px) {
  .kunden__review__content img {
    width: 56px;
    height: 56px;
  }
}
.kunden__review__content h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #4E4E4E;
}

.wrapper {
  width: 380px;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 20px 20px 0;
  z-index: 10;
}
@media screen and (max-width: 480px) {
  .wrapper {
    width: 340px;
    padding: 0 0 10px 0;
  }
}

#toast {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(75, 50, 50, 0.05);
  border-left: 8px solid #47d764;
  border-radius: 7px;
  display: grid;
  gap: 16px;
  align-items: center;
  grid-template-columns: 1.2fr 6fr 0.5fr;
  transform: translate(400px);
  transition: 1s;
  z-index: 1;
}

.container-1,
.container-2 {
  align-self: center;
}
.container-1 svg path,
.container-2 svg path {
  fill: #47d764;
}

.container-2 {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.container-2 p:first-child {
  color: #101020;
  font-weight: 600;
  font-size: 16px;
}

.container-2 p:last-child {
  font-size: 12px;
  color: #656565;
  font-weight: 400;
}

#toast button {
  align-self: flex-start;
  background-color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
}
#toast button svg {
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=main.css.map */