@import './mixins';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

.container {
    max-width: 1352px;
    width: 100%;
    margin: 0 auto;
    padding-inline: 16px;

    @include Laptop {
        max-width: 1140px;
    }

    @include Mobile {
        padding-inline: 8px;
    }
}

.primary-color {
    color: $color-primary-500;
}

.page-wrapper,
.main-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 240px;

    @include Laptop {
        gap: 160px;
    }

    @include Tablet {
        gap: 96px;
    }

    @include SmallTablet {
        gap: 80px;
    }
}

h2 {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 500;
    color: #4E4E4E;
    text-align: center;

    @include Laptop {
        font-size: 40px;
    }

    @include SmallTablet {
        font-size: 32px;
    }
}

.input {
    padding: 16px;
    border: 1px solid #CFCFCF;
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;

    // @include SmallTablet {
    //     font-size: 32px;
    // }
}

[type="radio"] {

    &:checked,
    &:not(:checked) {
        position: absolute;
        left: -9999px;

        &+label {
            position: relative;
            padding-left: 28px;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            color: #666;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 18px;
                height: 18px;
                // border: 1px solid #ddd;
                border: 1px solid hsla(0, 0%, 81%, 1);
                border-radius: 100%;
                // background: #fff;
                background: transparent;
            }

            &:after {
                content: '';
                width: 12px;
                height: 12px;
                background: #777777;
                position: absolute;
                top: 4px;
                left: 4px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
        }
    }

    &:checked+label:before {
        border: 1px solid #777777;
    }

    &:not(:checked)+label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    &:checked+label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}