.header {
    background: linear-gradient(180deg, rgba(30, 30, 30, 0.75) 0%, rgba(15, 14, 12, 0.25) 62.81%, rgba(30, 30, 30, 0.5) 100%), url('../img/HeaderImage.webp');
    width: 100%;
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include Tablet {
        height: 800px;
    }

    @include SmallTablet {
        height: 700px;
    }

    @include Mobile {
        height: 550px;
    }

    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        gap: 16px;
        justify-content: center;

        h1 {
            font-size: 104px;
            text-transform: uppercase;
            color: white;
            font-weight: 800;
            text-align: center;
            max-width: 1290px;

            span {
                font-size: 116px;

                @include Laptop {
                    font-size: 104px;
                }

                @include Tablet {
                    font-size: 80px;
                }

                @include SmallTablet {
                    font-size: 64px;
                }

                @include Mobile {
                    font-size: 40px;
                }
            }

            @include Laptop {
                font-size: 94px;
                line-height: 130%;
            }

            @include Tablet {
                font-size: 70px;
                line-height: 120%;
            }

            @include SmallTablet {
                font-size: 56px;
                line-height: 110%;
            }

            @include Mobile {
                font-size: 34px;
            }
        }

        p {
            color: white;
            font-size: 20px;
            max-width: 700px;
            text-align: center;
            line-height: 30px;

            @include Mobile {
                font-size: 16px;
                line-height: 120%;
            }
        }

        a {
            margin-top: 32px;
        }
    }
}