@import '../base/mixins';

.kunden {
    background: linear-gradient(180deg, #F8F8F8 0%, #F2F2F2 100%);
    backdrop-filter: blur(50px);
    width: 100%;
    padding: 80px 0;
    overflow: hidden;

    @include SmallTablet {
        background: #FFFFFF;
    }

    .container {

        @include Tablet {
            max-width: 100%;
            padding-inline: 0;
        }
    }

    @include Laptop {
        padding: 56px 0;
    }


    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 180px;
        position: relative;

        @include Laptop {
            gap: 140px;
        }

        @include Tablet {
            gap: 64px;
        }

        .backticks {
            position: absolute;
            left: 0;
            top: 24px;
            object-fit: cover;
            object-position: center;

            @include Laptop {
                top: 0;
            }

            @include Tablet {
                display: none;
            }
        }
    }

    &__swiper {
        width: 100%;
        height: 100%;
        position: relative;

        @include Tablet {
            border-top: 4px solid #F9E214;
            border-bottom: 2px solid #F9E214;
            border-left: 0;
            border-right: 0;
            background: linear-gradient(180deg, #F8F8F8 0%, #F2F2F2 100%);
            padding-bottom: 64px;

            &::before {
                content: "";
                position: absolute;
                top: 8px;
                left: 0;
                bottom: 8px;
                border-top: 2px solid #F9E214;
                border-bottom: 4px solid #F9E214;
                border-left: 0;
                border-right: 0;
                width: 100%;
                height: 100%;
            }
        }

        .swiper {

            &-slide {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                opacity: 0.3;

                @include Tablet {
                    align-items: flex-start;
                    justify-content: flex-start;
                }

                &-active {
                    opacity: 1;

                    @include Tablet {
                        margin: 0 !important;
                        padding: 0 !important;
                    }
                }

                &-next {
                    opacity: 1;

                    @include Laptop {
                        opacity: 0.3;
                    }
                }
            }

            &-controls {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 24px;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-color: #F9E214;
                position: absolute;
                top: 132px;
                right: 0;
                z-index: 1;

                @include Laptop {
                    top: 70px;
                }

                @include Tablet {
                    top: inherit;
                    bottom: 16px;
                    right: 16px;
                    width: 56px;
                    height: 56px;
                }

                .swiper-button-prev,
                .swiper-button-next {
                    position: static !important;
                    margin: 0 !important;
                    padding: 0 !important;
                    user-select: none;
                    width: 24px;
                    height: 24px;

                    &::after {
                        content: '';
                    }
                }

                @include Tablet {
                    .swiper-button-prev {
                        display: none;
                    }
                }

            }

        }
    }

    &__review {
        width: 648px;
        height: 648px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border: 4px solid #F9E214;
        padding: 10px;
        background-color: #FFFFFF;
        z-index: 1;
        aspect-ratio: 1/1;

        @include Laptop {
            width: 480px;
            height: 480px;
        }

        @include Tablet {
            width: 100%;
            height: 100%;
            aspect-ratio: initial;
            border-radius: 0;
            border: 0;
            padding: 10px 0;
            background: transparent;
        }


        &__circle {
            border: 2px solid #F9E214;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            padding: 100px 80px 0 100px;

            @include Laptop {
                padding: 60px 100px 0 100px;
            }

            @include Tablet {
                border-radius: 0;
                border: 0;
                padding: 40px 16px;
            }

        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            gap: 16px;

            @include Laptop {
                gap: 0;
            }

            @include Tablet {
                gap: 16px;
            }

            p {
                font-size: 16px;
                line-height: 150%;
                color: #777777;
                width: 100%;
                padding-left: 92px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 13;
                overflow: hidden;

                @include Laptop {
                    font-size: 14px;
                    line-height: 21px;

                }

                @include Tablet {
                    padding-left: 0;
                    -webkit-line-clamp: 11;
                }
            }
        }

        &__content {
            display: flex;
            align-items: center;
            gap: 24px;

            img {
                width: 72px;
                height: 72px;

                @media screen and (max-width:900px) {
                    width: 56px;
                    height: 56px;
                }
            }

            h4 {
                font-weight: 700;
                font-size: 20px;
                line-height: 23px;
                text-transform: uppercase;
                color: #4E4E4E;
            }

        }
    }
}