.fixed {
    position: relative;
}

.nav-socials {
    position: fixed;
    bottom: 24px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    z-index: 2;

    @media screen and (max-height:600px) {
        display: none;
    }

    .active {
        transform: translateX(100%);
    }

    &__media {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        background-color: transparent;
        padding: 10px;
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

        a {
            text-decoration: none;
            height: 56px;
            width: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin: 6px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
            background-color: #FFFFFF;
            border: 3px solid #4E4E4E;
        }
    }

    &__close {
        outline: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 56px;
        width: 56px;
        border-radius: 50%;
        background-color: #777777;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transform: rotate(45deg);
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

        &::before {
            content: '';
            position: absolute;
            border: 4px solid #777777;
            left: -20px;
            opacity: 0;
            right: -20px;
            top: -20px;
            bottom: -20px;
            border-radius: 50%;
            animation: pulse 2s linear infinite;
        }

        @keyframes pulse {
            0% {
                transform: scale(0.5);
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                transform: scale(0.75);
                opacity: 0;
            }
        }

        svg {
            width: 40px;
            height: 40px;

            path {
                fill: #FFFFFF;
            }
        }

        &.open {
            transform: rotate(90deg);
            background-color: #777777;
        }
    }
}